.MyPortfolio-box{
    border-top: 2px solid black;
    margin-bottom: 10%;
    margin-left: 1.8%;
    margin-right: 1.8%;
}

.MyPortfolio-description{
    text-align: center;
    margin-top: 3%;
}

.Repository-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Repository-section{
    background-color: rgb(211, 215, 211);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    max-width: 960px;
    padding-left: 5px;
    padding-right: 5px;
}

.Repository-img{
    max-width: 30vw;
    max-height: 20vh;
    border-radius: 5px;
    margin-top: 10px;
    margin: 10px auto;
}

.Repository-lowerBoxSection{
    max-width: 20vw;
    height: 20vh;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.Repository-title{
    font-size: 3.5vh;
}

.Repository-description{
    font-size: 2vh;
    max-width: 100%;
}

.Repository-links{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}

.MyPortfolio-welcome{
    font-size: 2.4vw;
}

.MyPortfolio-welcomeDescription{
    margin-bottom: 5vh;
    font-size: 2vw;
}