.MyPortfolio-box{
    border-top: 2px solid black;
    margin-bottom: 5%;
    margin-left: 1.8%;
    margin-right: 1.8%;
}

.MyPortfolio-description{
    text-align: center;
    margin-top: 3%;
}

.Repository-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.Repository-section{
    background-color: rgb(211, 215, 211);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem 0;
    margin: 0;
}

.Repository-img{
    width: 70%;
    height: 20vh;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.Repository-lowerBoxSection{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
}

.Repository-title{
    font-size: 3vh;
    text-align: center;
    height: 1vh;
}
.Respository-TDL{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.Repository-description{
    font-size: 2.2vh;
    max-width: 100%;
}

.Repository-links{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: space-between;
}

.Games-button2{
    width: 7rem;
    height: 4vh;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(182, 183, 183);
    color: white;
    border: 1.5px solid black;
    cursor: pointer;
}

.MyPortfolio-welcome{
    font-size: 4.5vh;;
}

.MyPortfolio-welcomeDescription{
    margin-bottom: 5vh;
    font-size: 3vh;
} 

@media screen and (max-width: 960px) {
    
    .MyPortfolio-welcome {
        font-size: 22px;
    }

    .MyPortfolio-welcomeDescription {
        font-size: 16px;
        padding-top: 1rem;
    }

    .Repository-section {
        width: 95%;
        height: 400px;
        margin: auto;
    }

    .Repository-img {
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .Repository-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .Repository-lowerBoxSection{
        margin-top: 0;
        padding-top: 0;
        height: 220px;
    }

    .Respository-TDL h1 {
        font-size: 18px;
    }

    .Repository-description {
        width: 80%;
        margin: auto;
    }

    .Respository-TDL{
        gap: 2rem;
    }
}