/*
    WHEN USING FLEX & FLEX-DIRECTION IS NOT SET
    HORIZONTAL

    justify-content:
    start, center, end, space-around, 
    space-evenly, space-between
    
    VERTICAL
     
    align-items:
    start, center, end

    IF SET-DIRECTION IS SET COLUMN

*/

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Roboto", "sans-serif";
}

.content-box{
    display: flex;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    height: 90vh;
    width: 100vw;
    gap: 5vw;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2vh;
    width: 30%;
    max-height: 80vh;
    margin-left: 5vw;
}

.square-text{
    display: flex;
}

.introduction{
    width: 100%;
    font-size: 2vw;
}


.name{
    font-family: cursive;
    color: rgb(6, 92, 21);
    width:20vh;
    height:50%;
    text-shadow:  rgb(6, 92, 21) 1px 1px 1px;
}

.front-end{
    color: rgb(30, 113, 61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
}

.greeting{
    font-size: 1.2vw;
}

.full-inName{
    font-size: 4vw;
}

.picture{
    max-width:40%;
}

.and{
    font-weight: bold;
    color: rgb(8, 88, 62);
}

.icon{
    width: 5vw;
    height: 3vh;
    border-radius: 5px;
    padding: 3vh;
    border-bottom: 3px solid rgba(19, 92, 31, 0.688);
}


.section-icons{
    display: flex;
    gap: 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icon-javaScript::before, .icon-react::before, .icon-css::before, .icon-html::before, .icon-nodeJs::before, .icon-github::before, .icon-git::before{
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 2vw;
    color: rgb(47, 58, 58);
}


.icon-javaScript::before{
    content: "\f3b9";
}

.icon-html::before{
    content: "\f13b";
}

.icon-css::before{
    content: "\f38b";
}

.icon-react::before{
    content: "\f41b";
}

.icon-nodeJs::before{
    content: "\f419";
}


.icon-git::before{
    content: "\f841";
}

.icon-github::before{
    content: "\f09b";
}


  .icon:hover{
    font-family: 'FontAwesome';
    color: rgba(19, 92, 31, 0.688);
    font-weight: bold;
  }

  .icon-css, .icon-git, .icon-github, .icon-nodeJs, .icon-react, .icon-javaScript, .icon-html{
    max-width: 80px;
    max-height: 80px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: cursive;
  }

  .hero-software{
    font-weight: bold;
    font-size: 1.6vw;
    width: 20vw;
  }

  .picture{
    background-image: url("./Blas.png");
    max-width: 500px;
    height: 480px;
    object-fit: cover;
    color: transparent;
    border-top: 4px solid green;
  }


  .picture:hover{
    background-image: none;
    color: black;
    margin-top: 10px;
  }