/*
    WHEN USING FLEX & FLEX-DIRECTION IS NOT SET
    HORIZONTAL

    justify-content:
    start, center, end, space-around, 
    space-evenly, space-between
    
    VERTICAL
     
    align-items:
    start, center, end

    IF SET-DIRECTION IS SET COLUMN

*/

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.homePage-section {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homePage-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 85%;
    margin:2rem auto;
    gap: 5px;
}

.homePage-container-info,
.homePage-container-info-soft,
.homePage-container-info-hard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homePage-container-info-hard-softwares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.homePage-container-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem;
    max-height:100% ;
}


.homePage-container-works-cards-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.homePage-container-works-cards-card img {
    width: 80%;
    max-height: 180px;
    object-fit: fill;
}

.homePage-button-metalAndWoods {
    position: absolute;
    top: 45%;
    left: 60%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(255, 153, 0);
    color: white;
    cursor: pointer;
}

.homePage-button-flixprop {
    position: absolute;
    top: 30%;
    left: 15%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(255, 2, 0);
    color: white;
    cursor: pointer;
}

.homePage-button-metalAndWoods:hover,
.homePage-button-flixprop:hover {
    background-color: black;
}

.homePage-Projects {
    width: 100%;
    position: relative;
    margin: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homePage-banner-image {
    height: 450px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.homePage-Projects-container {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translateX(-50%);
    z-index: 1;
    width: 85%;
    height: 350px;
}

.homePage-Projects-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 220px;
    margin: auto;
    gap: 1rem;
}

.homePage-Projects-titleVerMas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.homePage-Projects-titleVerMas p {
    color: white;
    padding: 1rem 0 0;
    margin: 0;
}

.homePage-Projects-titleVerMas p {
    cursor: pointer;
}

.homePage-Projects-main-card {
    width: 100%; 
    height: 140px; 
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homePage-Projects-main-card img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    border-radius: 5%;
}

.homePage-Projects-main-card h4 {
    color: white;
}

.homePage-Projects-scroll-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.homePage-Projects-cardsCount {
    color: white;
}

.homePage-Projects-scroll-left,
.homePage-Projects-scroll-right {
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
}



  .bi-circle-fill.active {
    color: #000; /* or any color you want for the active state */
  }

.square-text{
    display: flex;
}

.introduction{
    width: 80%;
    font-size: 26px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width:20vh;
    height:50%;
}

.front-end{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
}

.greeting{
    font-size: 1.2vw;
}

.full-inName{
    font-size: 4vw;
}

.picture{
    max-width:40%;
}

.icon{
    width: 5vw;
    height: 3vh;
    border-radius: 5px;
    padding: 3vh;
    border-bottom: 3px solid black;
}


.section-icons{
    display: flex;
    gap: 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icon-javaScript::before, .icon-react::before, .icon-css::before, .icon-html::before, 
.icon-nodeJs::before, .icon-github::before, .icon-git::before, .icon-typescript::before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 2vw;
    color: rgb(47, 58, 58);
}


.icon-javaScript::before{
    content: "\f3b9";
}

.icon-html::before{
    content: "\f13b";
}

.icon-css::before{
    content: "\f38b";
}

.icon-react::before{
    content: "\f41b";
}

.icon-nodeJs::before{
    content: "\f419";
}


.icon-git::before{
    content: "\f841";
}

.icon-github::before{
    content: "\f09b";
}

.icon-typescript::before{
    content: "\f1c9";
}

  .icon-css, .icon-git, .icon-github, .icon-nodeJs, 
  .icon-react, .icon-javaScript, .icon-html, .icon-typescript
  {
    max-width: 80px;
    max-height: 80px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: cursive;
  }

  .home-software{
    font-weight: bold;
    font-size: 1.6vw;
    width: 20vw;
  }

  @media screen and (max-width: 960px) {
    .homePage-container {
        grid-template-columns: 1fr;
        width: 95%;
        gap: 3rem;
        margin: auto;
        padding-top: 1rem;
        height: fit-content;
    }

    .homePage-container-info-soft {
        width: 100%;
        margin: auto;
        padding-top: 1rem;
    }

    .homePage-container-works {
        height: fit-content;
    }

    .homePage-container-info,
    .homePage-container-info-soft,
    .homePage-container-info-hard{
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .homePage-container-works-cards-card img {
        width: 80%;
        max-height: 180px;
        object-fit: fill;
    }

    .homePage-button-flixprop {
        top: 35%;
        left: 20%;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 8px;
    }
    
    .homePage-button-metalAndWoods {
        top: 40%;
        left: 63%;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 8px;
    }

    .greeting, .full-inName, .name, .front-end, .introduction {
        width: 95%;
        margin:auto;
        text-align: center;
    }

    .greeting {
        font-size: 12px;
    }

    .name {
        font-size: 32px;
    }

    .front-end {
        font-size: 16px;
    }

    .introduction {
        font-size: 14px;
    }

    .home-software {
        font-size: 18px;
    }

    .icon-css::before, .icon-git::before, .icon-github::before, .icon-nodeJs::before, 
    .icon-react::before, .icon-javaScript::before, .icon-html::before, .icon-typescript::before
    {
      font-size: 36px;
    }

    .icon-css, .icon-git, .icon-github, .icon-nodeJs, 
    .icon-react, .icon-javaScript, .icon-html, .icon-typescript
    {
      width: 100%;
    }

    .homePage-container-info-hard-softwares {
        width: 95%;
        grid-template-columns: repeat(4, 1fr);
    }

    .homePage-Projects {
        padding-top: 1rem;
        height: 300px;
    }
    .homePage-banner-image {
        height: 300px;
    }

    .homePage-Projects-container {
        width: 95vw;
        height: 200px;
        left: 50%;
        top: 140%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .homePage-Projects-main {
        grid-template-columns: repeat(3, 1fr);
        height: fit-content;
    }
    .homePage-Projects-titleVerMas h1 {
        font-size: 18px;
    }

    .homePage-Projects-titleVerMas p {
        padding-top: 0;
    }

    .homePage-Projects-main-card {
        height: 100px; 
    }
    
    .homePage-Projects-main-card img {
        height: 85px;
    }

    
    .homePage-Projects-main-card h4 {
       font-size: 12px;
       height: 30px;
    }

  }