.Games-box{
    border-top: 2px solid black;
}

.GamesRepo-description{
    text-align: center;
    margin-top: 3%;
}

.Game-list{
     display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3.35%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Games-section{
    width: 30vw;
    height: 22vw;
    border-color: black;
    border: 2px double black;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Games-img{
    max-width: 250px;
    max-height: 90px;
    border-radius: 5px;
    margin: 10px auto;
}

.Games-lowerBoxSection{
    max-width: 18.5vw;
    height: 150px;
    margin: 0 10px;
}

.Games-title{
    font-size: 1.3vw;
    text-align: center;
}

.Games-description{
    font-size: 1vw;
    text-align: center;
}

.Games-links{
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 3%;
    position: relative;
    bottom: 5%;
    left: 22%;
}

.square{
    background-image: url('./football.jpg');
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.goal{
    background-image: url('./goal.jpg');
    border-radius: 10px;
    width: 300px;
    height: 100px;
}

.fotball{
    margin-top: 15px;
}

.GameRepo-welcome{
    font-size: 2.4vw;
}

.Games-button{
    width: 5.5vw;
    font-size: 0.8vw;
    font-weight: bold;
}

