.Games-box{
    border-top: 2px solid black;
}

.GamesRepo-description{
    text-align: center;
    margin-top: 1.5%;
    font-size: 1.5rem;
}

.Game-list{
     display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Games-section{
    height: 50vh;
    border-color: black;
    border: 2px solid black;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    align-items: center;
    background-color: rgb(231, 231, 228);
    border-radius: 10px;
}

.Games-img{
    width: 70%;
    height: 20vh;
    border-radius: 5px;
    margin: 10px auto;
}

.Games-lowerBoxSection{
    width: 90%;
    height: 20vh;
    margin: 0 10px;  
}

.Games-title{
    font-size: 3.5vh;
    text-align: center;
    height: 6vh;
}

.Games-description{
    font-size: 1.5vw;
    text-align: center;
    height: 30vh;
    max-width: 100%;
}

.Games-links{
    display: flex;
    flex-direction: row;
    gap: 3%;
    position: relative;
    bottom: 5%;
}

.square{
    background-image: url('./football.jpg');
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.goal{
    background-image: url('./goal.jpg');
    border-radius: 10px;
    width: 300px;
    height: 100px;
}

.fotball{
    margin-top: 15px;
}

.GameRepo-welcome{
    font-size: 2.4vw;
}

.Games-button{
    width: 10rem;
    height: 5vh;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(182, 183, 183);
    color: white;
    border: 1.5px solid black;
    cursor: pointer;
}

