/*
    WHEN USING FLEX & FLEX-DIRECTION IS NOT SET
    HORIZONTAL

    justify-content:
    start, center, end, space-around, 
    space-evenly, space-between
    
    VERTICAL
     
    align-items:
    start, center, end

    IF SET-DIRECTION IS SET COLUMN

*/


.navbar{
    display: flex;
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vw;
    height: 10vh; 
}

.navbar-itesm{
    display: flex;
    gap: 8vw;
    font-size: 2vh;
}

.resume{
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 8px;
    border-color: rgb(3, 7, 1);
    font-family: cursive;
    box-shadow: 2px 2px  2px  0 black;
    font-size: 1 vw;
}

.resume:hover {
    background-color: rgb(70, 135, 5);
    font-family: cursive;
    border-color: green;
}

.navbar-link{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.navbar-contact{
    font-size: 2vh;
}